<ion-content overflow-scroll="true" padding="false">
    <ion-list ng-if="!_ctrl.name || _ctrl.name.length<3">
        <ion-item ng-repeat="item in _ctrl.topResults" ui-sref="dashboard.details(item)">
            {{item.name}}
            <small>{{item.distance|number:2}}KM</small>
        </ion-item>
    </ion-list>
    <ion-list ng-if="_ctrl.name && _ctrl.name.length>2">
        <ion-item ng-repeat="item in _ctrl.results" ui-sref="dashboard.details(item)">{{item.name}}</ion-item>
        <ion-item ng-if="_ctrl.results.length===0 && !_ctrl.searching" class="text-center">NO DATA FOUND</ion-item>
        <ion-item ng-if="_ctrl.searching" class="text-center">
            <ion-spinner ng-if="_ctrl.searching"></ion-spinner>
        </ion-item>
    </ion-list>
</ion-content>