<ion-view title="{{_ctrl.location.name}}">
    <!--<ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-icon button-calm button-clear icon ion-ios-arrow-back">Back</ion-nav-back-button>
        <ion-nav-title>{{_ctrl.location.name}}</ion-nav-title>
    </ion-nav-bar>-->
        
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <button class="button button-calm button-block" ng-click="_ctrl.open()">Navigate to Location</button>
        <form class="list" name="form" novalidate ng-submit="_ctrl.submit(form.$valid, selected)">
            <h4>Location Review</h4>
            <!--<label class="item item-input">
                <span class="input-label">Rate</span>
                <input type="number" placeholder="..." min="0" max="10">
            </label>-->
            <label class="item item-input item-select">
                <span class="input-label">Comment</span>
                <select name="comment" ng-options="item.name for item in _ctrl.options track by item.name" ng-model="selected" required>
                    <option value="">Select</option>
                </select>
            </label>
            <div class="padding-top">
                <button class="button button-block button-stable">Submit</button>
            </div>
        </form>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <!--<ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Soem</h2>
                <p>some review</p>
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>